/*start fonts*/
@font-face {
    font-family: "Harabara Bold";
    src: url("../fonts/brandon-grotesque/Brandon_bld.otf") format("opentype");
}
@font-face {
    font-family: "Harabara Light";
    src: url("../fonts/brandon-grotesque/Brandon_light.otf") format("opentype");
}
@font-face {
    font-family: "Harabara Med";
    src: url("../fonts/brandon-grotesque/Brandon_med.otf") format("opentype");
}
@font-face {
    font-family: "Harabara Reg";
    src: url("../fonts/brandon-grotesque/Brandon_reg.otf") format("opentype");
}
@font-face {
    font-family: "Harabara Thin";
    src: url("../fonts/brandon-grotesque/Brandon_thin.otf") format("opentype");
}
/*end fonts*/

html {
    font-family: "Harabara Mid",sans-serif !important;
}

/*start navbar*/
nav.bg-light{
    background-color: transparent !important;
}
.navbar-light .navbar-nav .nav-link, .navbar-light .navbar-brand{
    color: #495057;
}
/*end navbar*/

/* start slider*/
.carousel-item img{
    height: 100vh;
}
.bounce-arrow {
    position: absolute;
    fill: rgb(170,42,43);
    height: auto;
    width: 40px;
    left: 50%;
    bottom: 0;
    /*animation-name: scroll;
    animation-duration: 1s;
    animation-timing-function: cubic-bezier(0.15, 0.41, 0.69, 0.94);
    animation-iteration-count: infinite; */
    animation: scroll 1s cubic-bezier(0.15, 0.41, 0.69, 0.94) infinite;
}


@keyframes scroll {
    0% {
        bottom: 30px;
    }
    70% {
        bottom: 40px;
    }
    100% {
        bottom: 50px;
    }
}

/* end slider*/

/*start content*/
.content{
    margin: 50px auto;
    max-width: 640px;
}
.content h2 {
    font-size: 1.69231rem;
}
/*end content*/

/*start journey*/
.journey{
    position: relative;
    width: 100%;
    padding-bottom: 600px;
    overflow: hidden;
    display: inline-block;
    float: left;
    background-color: black;
}
.journey-content {
    position: absolute;
    top: 200px;
    padding: 20px;
    color: #ffffff;
}
.animate-img {
    position: absolute;
    top: -9999px;
    right: -9999px;
    bottom: -9999px;
    left: -9999px;
    margin: auto;
    min-width: 100%;
    min-height: 100%;
    transition: all 2s cubic-bezier(0.38, 0.01, 0, 1) 0s;
}
.animate-img:hover
{
    opacity: .65;
    -webkit-transform: scale(1.15);
    transform: scale(1.15);
}

/*end journey*/


/*start footer*/
footer {
    width: 100%;
    background-color: #005388;
    padding: 40px 0;
    color: #ffffff;
}
footer a, footer a:hover {
    color: #ffffff;
    text-decoration: none;
}
footer a i {
    margin-right: 15px;
}
/*end footer*/